<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokémon Data</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <h1>Pokémon datu skatītājs.</h1>
        <nav>
            <a href="{{ url_for('index') }}">Mājas</a>
            <a href="{{ url_for('pokemon_list') }}">Pokémon</a>
            <a href="{{ url_for('stats') }}">Statistikas</a>
            <a href="{{ url_for('compare') }}">Salīdzinājumi</a>
        </nav>
    </header>
    
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
